@page
@model string

<!-- Awards-->
<section class="resume-section" id="awards">
    <div class="resume-section-content">
        <h2 class="mb-5"> ACTIVITIES/AWARDS & PERSONAL AFFILIATIONS</h2>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                SAS Certified Developer
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Institute of Electrical and Electronics Engineers (IEEE)
            </li>

            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                INROADS Candidate
            </li>

            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Stars of Hope Mission – Volunteer
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                St. Luke’s Southern Missionary Hospital Blood Drives-Volunteer
            </li>

            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                SGA (Student Government Association) and CAB(College Activity board) -Secretary
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Mobile Web Specialist - Google Certification
            </li>
        </ul>
    </div>
</section>