@page
@model string
<!-- Experience-->
<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Senior SAS Developer</h3>
                <div class="subheading mb-3">Attorney General Child Support Division</div>
                <p>
                    <ul>
                        <li>
                            Generate analysis datasets, tables, figures, and listings to support the statistical analysis of clinical trials in support of
                            regulatory submissions and publications.
                        </li>
                        <li>  Perform quality control for SAS programs and other study documents (e.g., presentations and reports).</li>
                        <li>
                            Maintain complete and auditable documentation of all programming activities
                            Researched and analyzed IBM mainframe (System z) problems, including mainframe software performance problems, and determine the best
                            course of action to eliminate those problems
                        </li>
                    </ul>
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">November 2019 - Present</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Web Developer</h3>
                <div class="subheading mb-3">Austin Public Health (part time)</div>
                <p>
                    <ul>
                        <li>Focused on health services research or other related public health field.</li>
                        <li>Monitored reported healthcare safety data reports and epidemiologic investigation reports for accuracy.</li>
                        <li>
                            Developed reports summarizing data findings to propose and initiate epidemiological projects, including program design
                            specification and analysis,
                            and presents project results.
                        </li>
                    </ul>
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">November 2019 - February 2023</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Fusion Engineer/Junior Web Designer</h3>
                <div class="subheading mb-3">Samsung</div>
                <p>
                    <ul>
                        <li>Generated install plans, PM schedules, and creating Standard Operating Procedures.</li>
                        <li>
                            Maintained, Troubleshoot, and repair 300mm AMAT Centura platforms and SiCoNi chambers to achieve maximum uptime and performance
                            Improved the operating efficiency of processing equipment and increase availability for production.
                        </li>
                        <li>
                            Develop and execute SAS programs to perform analysis of complex production tool datasets based on programming
                            specifications document/protocol/statistical analysis plan for QC
                        </li>
                    </ul>
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">May 2015 - July 2019</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">United States Marine Corps	</h3>
                <div class="subheading mb-3">Field Radio Operator</div>
                <p>
                    <ul>
                        <li>Maintained and operated wireless communications systems, including: Land Mobile Radio (LMR) networks, HF, VHF, UHF.</li>
                        <li>Operated and installed signal support systems into HMMWV’s, MRAP’s and other USMC vehicles.</li>
                        <li>
                            Conducted preventive maintenance, troubleshooting, and system restoral actions.
                            Trained and supervised over 25 Telecom technicians.
                        </li>

                    </ul>
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">August 2013 - May 2015</span></div>
        </div>
    </div>
</section>