@page
@model IndexModel

<!-- About-->
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Jarrel
            <span class="text-primary">Spiller</span>
        </h1>
        <div class="subheading mb-5">
            Austin, TX · (832) 847-5186 ·
            <a href="mailto:name@email.com">Melvin.J.Spiller@gmail.com</a>
        </div>
        <p class="lead mb-5">I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/melvinjspiller/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="#!"><i class="fab fa-github"></i></a>
        </div>
    </div>
</section>
<hr class="m-0" />
@await Html.PartialAsync("Partials/Experience", "hi")
<hr class="m-0" />
@await Html.PartialAsync("Partials/Education", "hi")
<hr class="m-0" />
@await Html.PartialAsync("Partials/Skills", "hi")
<hr class="m-0" />
@await Html.PartialAsync("Partials/Interests", "hi")
<hr class="m-0" />
@await Html.PartialAsync("Partials/Awards", "hi")