<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/82afce6e-1be0-414b-9707-41f489736b41/resourceGroups/main-rg/providers/Microsoft.Web/sites/jarreltestapp</ResourceId>
    <ResourceGroup>main-rg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://jarreltestapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>2b66ed90-8a39-4181-b398-9f304127ed73</ProjectGuid>
    <PublishUrl>https://jarreltestapp.scm.azurewebsites.net/</PublishUrl>
    <UserName>$jarreltestapp</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>